<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link href="./css/reset.css" rel="stylesheet" type="text/css">
<link href="./css/menu.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="menu">
		<ul>
			<li class="title"><a href="file:///D:/ide/workspace/HTMLExample/html/table/menu.html" target="_self">시간표</a></li>
			<img src="./image/menu.png">
			<li class="shopping"><a href="http://shopping.naver.com" target="_blank"><span>쇼핑</span></a></li>
			<li class="kin"><a href="http://kin.naver.com" target="_blank"><span>지식iN</span></a></li>
			<li class="blog"><a href="http://blog.naver.com" target="_blank"><span>블로그</span></a></li>
			<li class="cafe"><a href="http://cafe.daum.net" target="_blank"><span>까페</span></a></li>
			<li class="mail"><a href="http://gmail.com" target="_blank"><span>메일</span></a></li>
		</ul>
	</div>
	<a href=""><div id="icon"></div></a>	
	<div id="background"></div>
</body>
</html>