@CHARSET "UTF-8";
	a#left {
		z-index: 2;
		position: fixed;
		top: 10px;
		left: 50px;
		width: 20px;
		height: 20px;
		background-image: url("../image/left.png");
		background-repeat: no-repeat;
		opacity: 0.5;
	}
	a#right {
		z-index: 2;
		position: fixed;
		top: 10px;
		left: 140px;
		width: 20px;
		height: 20px;
		background-image: url("../image/right.png");
		background-repeat: no-repeat;
		opacity: 0.5;
	}
	img {
		z-index: 1;
		position : relative;
		top: 30px;
		width: 1024px;
		height: 768px;
		margin-bottom: 120px;
	}
	span {
		z-index: 2;
		position: fixed;
		top: 10px;
	}
	span#current_img {
		left: 80px;
	}
	span#slash {
		left: 101px;
	}
	span#total_img {
		left: 120px;
	}
	span#current_file {
		right: 300px;
	}